@use "./global/variables.scss" as v;
@use "./global/mixins.scss" as m;

.container {
  @include m.forSize(desktop) {
    display: flex;
  }
  .alt-nav {
    @include m.flex($j: center, $a: center);

    background-color: #f0f0f0;
    height: 8vh;

    position: relative;

    @include m.forSize(desktop) {
      width: 100%;
    }

    .back-icon {
      font-size: 24px;
      color: v.$primary-color;
      cursor: pointer;

      position: absolute;
      left: 10px;
    }

    .logo-container {
      @include m.flex($j: center, $a: center);
      height: 100%;

      img {
        width: auto;
        max-height: 50px;

        cursor: pointer;
      }
    }
  }
}
